{{extend 'layout.html'}}

<table>
  <tr>
    <td>{{=form}}</td>
    <td>{{=form1}}</td>
</table>

 <div style="display : none;" id="temp"></div>

<script>
jQuery(document).ready(function(){
        jQuery('#courierDetails_Name').focusout(function(){ 
        ajax('getEmailFromHostelDB', ['Hostel_Name', 'Name', 'Room_No'], ':eval')});
        
        jQuery('#courierDetails_Room_No').focusout(function(){ 
        ajax('getEmailFromHostelDB', ['Hostel_Name', 'Name', 'Room_No'], ':eval')});
        
        jQuery('#courierDetails_Hostel_Name').focusout(function(){ 
        ajax('getEmailFromHostelDB', ['Hostel_Name', 'Name', 'Room_No'], ':eval')});
   });
</script>
